
*{

    padding:0;
    margin:0;
}
.navbar{
    height:80px;
    width:100%;
    background: red;
}

.logo {
width: 50px;
height: auto;
padding: 20px
100px;
}












































































































